<div class="quote-page-list-content">


    <div class="list-content" id="page-1">

        <article>

            <div class="card-image">
                <a href="/earnings/call-transcripts/2020/02/12/western-union-wu-q4-2019-earnings-call-transcript.aspx"
                   title="Western Union (WU) Q4 2019 Earnings Call Transcript" data-id="article-list-img">
                    <img class="lozad"
                         data-src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F1%2Ffeatured-transcript-logo-template.jpg&amp;w=479&amp;h=281&amp;op=resize"
                         alt="featured-transcript-logo"
                         src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F1%2Ffeatured-transcript-logo-template.jpg&amp;w=479&amp;h=281&amp;op=resize"
                         data-loaded="true">
                </a>
            </div>

            <div class="text">
                <h4>
                    <a href="/earnings/call-transcripts/2020/02/12/western-union-wu-q4-2019-earnings-call-transcript.aspx"
                       data-id="article-list-hl">Western Union (WU) Q4 2019 Earnings Call Transcript</a></h4>
                <div class="story-date-author">Motley Fool Transcribing | Feb 12, 2020</div>

                <p>WU earnings call for the period ending December 31, 2019.</p>
            </div>
        </article>
        <hr>


        <div id="tickerpage_pitch"></div>

        <script type="text/javascript">
                PitchEngine.initialize({
                    site: "fool",
                    placement: "tickerpage",
                    pitchContainer: "tickerpage_pitch",
                    tickers: ["WU"],
                    primary_tickers: ["WU"],
                    primary_tickers_companies: ["Western Union"]
                });



        </script>


        <article>

            <div class="card-image">
                <a href="/earnings/call-transcripts/2019/11/01/western-union-wu-q3-2019-earnings-call-transcript.aspx"
                   title="Western Union (WU) Q3 2019 Earnings Call Transcript" data-id="article-list-img">
                    <img class="lozad"
                         data-src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F1%2Ffeatured-transcript-logo-template.jpg&amp;w=479&amp;h=281&amp;op=resize"
                         alt="featured-transcript-logo"
                         src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F1%2Ffeatured-transcript-logo-template.jpg&amp;w=479&amp;h=281&amp;op=resize"
                         data-loaded="true">
                </a>
            </div>

            <div class="text">
                <h4>
                    <a href="/earnings/call-transcripts/2019/11/01/western-union-wu-q3-2019-earnings-call-transcript.aspx"
                       data-id="article-list-hl">Western Union (WU) Q3 2019 Earnings Call Transcript</a></h4>
                <div class="story-date-author">Motley Fool Transcribing | Nov 1, 2019</div>

                <p>WU earnings call for the period ending September 30, 2019.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/2019/10/30/wired-for-growth-western-union-continues-to-innova.aspx"
                       data-id="article-list-hl">Wired for Growth: Western Union Continues to Innovate</a></h4>
                <div class="story-date-author">Grace Williams | Oct 30, 2019</div>

                <p>After this fall's Investor Day, I'm more excited than ever to be a Western Union shareholder. Here
                    are the key things I'm watching.</p>
            </div>
        </article>
        <hr>


        <article>

            <div class="card-image">
                <a href="/investing/2019/02/16/3-top-fintech-stocks-to-buy-in-february.aspx"
                   title="3 Top Fintech Stocks to Buy in February" data-id="article-list-img">
                    <img class="lozad"
                         data-src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F511259%2Ftop-fintech-stocks.jpg&amp;w=479&amp;h=281&amp;op=resize"
                         alt="top fintech stocks"
                         src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F511259%2Ftop-fintech-stocks.jpg&amp;w=479&amp;h=281&amp;op=resize"
                         data-loaded="true">
                </a>
            </div>

            <div class="text">
                <h4><a href="/investing/2019/02/16/3-top-fintech-stocks-to-buy-in-february.aspx"
                       data-id="article-list-hl">3 Top Fintech Stocks to Buy in February</a></h4>
                <div class="story-date-author">Jordan Wathen, Dan Caplinger, and Matthew Frankel, CFP | Feb 16, 2019
                </div>

                <p>These financial technology companies could be big winners.</p>
            </div>
        </article>
        <hr>


        <article>

            <div class="card-image">
                <a href="/earnings/call-transcripts/2019/02/07/the-western-union-company-wu-q4-2018-earnings-conf.aspx"
                   title="The Western Union Company (WU) Q4 2018 Earnings Conference Call Transcript"
                   data-id="article-list-img">
                    <img class="lozad"
                         data-src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F510797%2Ffeatured-transcript-logo.png&amp;w=479&amp;h=281&amp;op=resize"
                         alt="featured-transcript-logo"
                         src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F510797%2Ffeatured-transcript-logo.png&amp;w=479&amp;h=281&amp;op=resize"
                         data-loaded="true">
                </a>
            </div>

            <div class="text">
                <h4>
                    <a href="/earnings/call-transcripts/2019/02/07/the-western-union-company-wu-q4-2018-earnings-conf.aspx"
                       data-id="article-list-hl">The Western Union Company (WU) Q4 2018 Earnings Conference Call
                        Transcript</a></h4>
                <div class="story-date-author">Motley Fool Transcribers | Feb 7, 2019</div>

                <p>WU earnings call for the period ending December 31, 2018.</p>
            </div>
        </article>
        <hr>


        <article>

            <div class="card-image">
                <a href="/earnings/call-transcripts/2018/11/01/the-western-union-company-wu-q3-2018-earnings-conf.aspx"
                   title="The Western Union Company (WU) Q3 2018 Earnings Conference Call Transcript"
                   data-id="article-list-img">
                    <img class="lozad"
                         data-src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F499890%2Ffeatured-transcript-logo.png&amp;w=479&amp;h=281&amp;op=resize"
                         alt="featured-transcript-logo"
                         src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F499890%2Ffeatured-transcript-logo.png&amp;w=479&amp;h=281&amp;op=resize"
                         data-loaded="true">
                </a>
            </div>

            <div class="text">
                <h4>
                    <a href="/earnings/call-transcripts/2018/11/01/the-western-union-company-wu-q3-2018-earnings-conf.aspx"
                       data-id="article-list-hl">The Western Union Company (WU) Q3 2018 Earnings Conference Call
                        Transcript</a></h4>
                <div class="story-date-author">Motley Fool Transcribers | Nov 1, 2018</div>

                <p>WU earnings call for the period ending September 30, 2018.</p>
            </div>
        </article>
        <hr>


        <article>

            <div class="card-image">
                <a href="/investing/2018/10/31/why-fang-stocks-jumped-today.aspx"
                   title="Why All the FANG Stocks Jumped Today" data-id="article-list-img">
                    <img class="lozad"
                         data-src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F499486%2Fbusiness-growth-relaunched-purple.jpg&amp;w=479&amp;h=281&amp;op=resize"
                         alt="Business growth relaunched -- purple"
                         src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F499486%2Fbusiness-growth-relaunched-purple.jpg&amp;w=479&amp;h=281&amp;op=resize"
                         data-loaded="true">
                </a>
            </div>

            <div class="text">
                <h4><a href="/investing/2018/10/31/why-fang-stocks-jumped-today.aspx" data-id="article-list-hl">Why All
                    the FANG Stocks Jumped Today</a></h4>
                <div class="story-date-author">Anders Bylund | Oct 31, 2018</div>

                <p>Facebook's solid earnings report suggested that the other FANG stocks might have a future, too. The
                    market needs these reminders every once in a while.</p>
            </div>
        </article>
        <hr>


        <article>

            <div class="card-image">
                <a href="/investing/2017/06/02/a-new-bill-to-fund-trumps-border-wall-was-just-int.aspx"
                   title="A New Bill to Fund Trump's Border Wall Was Just Introduced, and You're Probably Going to Hate It"
                   data-id="article-list-img">
                    <img class="lozad"
                         data-src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F445616%2Fmoney-behind-back-fingers-crossed-corporate-tax-getty.jpg&amp;w=479&amp;h=281&amp;op=resize"
                         alt="Money Behind Back Fingers Crossed Corporate Tax Getty"
                         src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F445616%2Fmoney-behind-back-fingers-crossed-corporate-tax-getty.jpg&amp;w=479&amp;h=281&amp;op=resize"
                         data-loaded="true">
                </a>
            </div>

            <div class="text">
                <h4><a href="/investing/2017/06/02/a-new-bill-to-fund-trumps-border-wall-was-just-int.aspx"
                       data-id="article-list-hl">A New Bill to Fund Trump's Border Wall Was Just Introduced, and You're
                    Probably Going to Hate It</a></h4>
                <div class="story-date-author">Sean Williams | Jun 2, 2017</div>

                <p>Legal money transfer networks could be greatly impacted if this bill becomes law. </p>
            </div>
        </article>
        <hr>


        <article>

            <div class="card-image">
                <a href="/investing/2017/02/23/these-3-dividend-stocks-are-ridiculously-cheap.aspx"
                   title="These 3 Dividend Stocks Are Ridiculously Cheap" data-id="article-list-img">
                    <img class="lozad"
                         data-src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F434236%2Fdiscount-on-sale-copy.jpg&amp;w=479&amp;h=281&amp;op=resize"
                         alt="discount on sale copy"
                         src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F434236%2Fdiscount-on-sale-copy.jpg&amp;w=479&amp;h=281&amp;op=resize"
                         data-loaded="true">
                </a>
            </div>

            <div class="text">
                <h4><a href="/investing/2017/02/23/these-3-dividend-stocks-are-ridiculously-cheap.aspx"
                       data-id="article-list-hl">These 3 Dividend Stocks Are Ridiculously Cheap</a></h4>
                <div class="story-date-author">Brian Feroldi | Feb 23, 2017</div>

                <p>Pitney Bowes, Western Union, and AbbVie are all dirt-cheap dividend payers, but are any actually
                    worth buying today?</p>
            </div>
        </article>
        <hr>


        <article>

            <div class="card-image">
                <a href="/investing/2016/07/28/3-stocks-that-could-lose-you-a-lot-of-money-2.aspx"
                   title="3 Stocks That Could Lose You a Lot of Money" data-id="article-list-img">
                    <img class="lozad"
                         data-src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F213106%2Fimage-by-tax-credits-via-flickr.jpg&amp;w=479&amp;h=281&amp;op=resize"
                         alt="Image by Tax Credits via Flickr">
                </a>
            </div>

            <div class="text">
                <h4><a href="/investing/2016/07/28/3-stocks-that-could-lose-you-a-lot-of-money-2.aspx"
                       data-id="article-list-hl">3 Stocks That Could Lose You a Lot of Money</a></h4>
                <div class="story-date-author">Brian Feroldi | Jul 28, 2016</div>

                <p>These three companies are selling on the cheap, but I'd still suggest that investors stay away.</p>
            </div>
        </article>
        <hr>


    </div>


    <div class="list-content" id="page-2">

        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2015/02/10/the-western-union-company-earnings-a-profit-beat-a.aspx"
                       data-id="article-list-hl">The Western Union Company Earnings: A Profit Beat and a Dividend
                    Increase</a></h4>
                <div class="story-date-author">Demitrios Kalogeropoulos | Feb 10, 2015</div>

                <p>The payment services giant delivered a few positive surprises to investors on its fourth-quarter
                    earnings results.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2014/11/07/the-western-union-company-earnings-jumped-on-cost.aspx"
                       data-id="article-list-hl">The Western Union Company Earnings Jumped on Cost Cuts</a></h4>
                <div class="story-date-author">Jordan Wathen | Nov 7, 2014</div>

                <p>Western Union proved that it could cut costs and grow revenue in the third quarter, with earnings per
                    share up 13% from last year.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2014/07/14/western-union-still-has-big-growth-opportunities-a.aspx"
                       data-id="article-list-hl">Western Union Still Has Big Growth Opportunities Abroad</a></h4>
                <div class="story-date-author">Kingkarn Amjaroen | Jul 14, 2014</div>

                <p>Western Union benefits from solid transaction growth in key growth markets and has a convincing
                    shareholder remuneration record.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4>
                    <a href="/investing/dividends-income/2014/06/09/why-im-staying-away-from-the-western-union-company.aspx"
                       data-id="article-list-hl">Why I'm Staying Away From The Western Union Company</a></h4>
                <div class="story-date-author">Brian Stoffel | Jun 9, 2014</div>

                <p>The balance sheet would make you drool, but don't be fooled.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2014/05/16/fridays-top-upgrades-and-downgrades.aspx"
                       data-id="article-list-hl">Friday's Top Upgrades (and Downgrades)</a></h4>
                <div class="story-date-author">Rich Smith | May 16, 2014</div>

                <p>Analysts shift stance on L-3 Communications, Kansas City Southern, and Western Union.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2014/05/08/heres-1-retailer-expanding-in-the-underbanked-segm.aspx"
                       data-id="article-list-hl">Here's 1 Retailer Expanding in the Underbanked Segment</a></h4>
                <div class="story-date-author">Reuben Gregg Brewer | May 8, 2014</div>

                <p>Companies like Western Union have long provided financial services to the underbanked, but that's not
                    the only way to serve this niche—just ask Aaron's.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2014/04/30/is-the-western-union-company-destined-for-greatnes.aspx"
                       data-id="article-list-hl">Is The Western Union Company Destined for Greatness?</a></h4>
                <div class="story-date-author">Alex Planes | Apr 30, 2014</div>

                <p>Let's see what the numbers say about Western Union.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2014/04/29/2-stocks-to-watch-today.aspx" data-id="article-list-hl">2
                    Stocks to Watch Today</a></h4>
                <div class="story-date-author">Alison Southwick | Apr 29, 2014</div>

                <p>Here's why Zimmer Holdings and Western Union are two stocks our analysts have their eye on today.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2014/04/22/why-im-dumping-my-shares-of-western-union.aspx"
                       data-id="article-list-hl">Why I'm Dumping My Shares of Western Union</a></h4>
                <div class="story-date-author">Evan Buck | Apr 22, 2014</div>

                <p>Despite Western Union's areas of strength, including a recent share buyback program and a strong
                    dividend, I believe the recent news of Wal-Mart entering the money transfer business is very bad
                    news for Western Union. Here's why.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2014/04/19/wal-mart-makes-a-splash-in-money-transfers-will-it.aspx"
                       data-id="article-list-hl">Wal-Mart Makes a Splash in Money Transfers -- Will It Matter?</a></h4>
                <div class="story-date-author">Jeremy Bowman | Apr 19, 2014</div>

                <p>Wal-Mart sent rival stocks Western Union and MoneyGram tumbling with its new money transfer service.
                    But will it be enough to save the company from declining comps? </p>
            </div>
        </article>
        <hr>


    </div>


    <div class="list-content" id="page-3">

        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2014/04/19/is-vodafone-going-to-kill-visa-and-mastercard.aspx"
                       data-id="article-list-hl">Is Vodafone Going to Kill Visa's Chances in Emerging Markets?</a></h4>
                <div class="story-date-author">Reuben Gregg Brewer | Apr 19, 2014</div>

                <p>In the United States Visa and MasterCard have a stranglehold on how consumers spend... telecom
                    provider Vodafone is increasingly locking that same area up in developing markets.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2014/04/17/why-the-western-union-company-bbt-corporation-and.aspx"
                       data-id="article-list-hl">Why The Western Union Company, BB&amp;T Corporation, and International
                    Business Machines Are Today’s 3 Worst Stocks</a></h4>
                <div class="story-date-author">John Divine | Apr 17, 2014</div>

                <p>From increased competition to disappointing quarterly earnings, these three names finished as the
                    worst performers in the stock market today</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2014/04/17/wal-mart-takes-the-fight-to-moneygram-and-western.aspx"
                       data-id="article-list-hl">Wal-Mart Takes the Fight to MoneyGram and Western Union</a></h4>
                <div class="story-date-author">Alison Southwick and Matt Koppenheffer | Apr 17, 2014</div>

                <p>Wal-Mart takes a big step onto MoneyGram's and Western Union's turf.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2014/04/17/why-moneygram-international-inc-shares-sank.aspx"
                       data-id="article-list-hl">Why Moneygram International Inc Shares Sank</a></h4>
                <div class="story-date-author">Brian D. Pacampara, CFA | Apr 17, 2014</div>

                <p>Is this meaningful? Or just another movement?</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2014/03/24/where-the-money-is-march-24.aspx" data-id="article-list-hl">Where
                    the Money Is: March 24</a></h4>
                <div class="story-date-author">Matt Koppenheffer and David Hanson | Mar 24, 2014</div>

                <p>The biggest stories from Monday’s world of finance.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2014/02/13/todays-3-worst-stocks-in-the-sp-500.aspx"
                       data-id="article-list-hl">Today’s 3 Worst Stocks in the S&amp;P 500</a></h4>
                <div class="story-date-author">John Divine | Feb 13, 2014</div>

                <p>Western Union, Whole Foods Market, and Cisco Systems all drag on the stock market today</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2014/02/13/4-key-answers-about-the-future-of-the-western-unio.aspx"
                       data-id="article-list-hl">4 Key Answers About the Future of The Western Union Company</a></h4>
                <div class="story-date-author">Brendan Mathews | Feb 13, 2014</div>

                <p>The money-transfer service’s humdrum earnings don’t necessarily mean it’s a bad investment.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2014/01/10/todays-3-worst-stocks-in-the-sp-500.aspx"
                       data-id="article-list-hl">Today’s 3 Worst Stocks in the S&amp;P 500</a></h4>
                <div class="story-date-author">John Divine | Jan 10, 2014</div>

                <p>The unofficial start of earnings season is a day these three companies would rather forget.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2014/01/07/bitcoin-doesnt-stand-a-chance-against-this-industr.aspx"
                       data-id="article-list-hl">Bitcoin Doesn't Stand a Chance Against This Industry Powerhouse</a>
                </h4>
                <div class="story-date-author">Timothy Green | Jan 7, 2014</div>

                <p>Increased compliance costs caused shares of Western Union to tank last year, but the company should
                    actually get stronger relative to its competition like Xoom as a result. And while digital
                    currencies like Bitcoin appear to pose a threat to Western Union's business model, this fear seems
                    largely overwrought.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/12/13/todays-3-worst-stocks-in-the-sp-500.aspx"
                       data-id="article-list-hl">Today's 3 Worst Stocks in the S&amp;P 500</a></h4>
                <div class="story-date-author">John Divine | Dec 13, 2013</div>

                <p>These three stocks stood out as some of the worst in the stock market today.</p>
            </div>
        </article>
        <hr>


    </div>


    <div class="list-content" id="page-4">

        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/12/05/greenspan-bitcoin-is-a-bubble.aspx"
                       data-id="article-list-hl">Greenspan: Bitcoin Is a Bubble</a></h4>
                <div class="story-date-author">Jordan Wathen | Dec 5, 2013</div>

                <p>Former Fed Chairman Alan Greenspan believes Bitcoin's rapid rise is nothing more than a bubble.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/11/17/bitcoin-bubble-or-value.aspx" data-id="article-list-hl">Bitcoin:
                    Bubble or Value?</a></h4>
                <div class="story-date-author">Dan Newman | Nov 17, 2013</div>

                <p>What are the bull and bear cases for bitcoin?</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/11/15/electronic-arts-western-union-and-abercrombie-fitc.aspx"
                       data-id="article-list-hl">Electronic Arts, Western Union, and Abercrombie &amp; Fitch All
                    Stumble </a></h4>
                <div class="story-date-author">Matt Thalman | Nov 15, 2013</div>

                <p>The major indexes fight off some weaker-than-expected economic data and jump to new all-time
                    highs. </p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/11/15/why-electronic-arts-maximus-and-western-union-drop.aspx"
                       data-id="article-list-hl">Why Electronic Arts, Maximus, and Western Union Dropped Today</a></h4>
                <div class="story-date-author">Dan Caplinger | Nov 15, 2013</div>

                <p>The stock market soared to new record highs, but Electronic Arts dropped 7%, while Maximus fell 5%
                    and Western Union declined 4%. Find out why these stocks missed out today.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/11/15/growth-from-india-can-propel-western-union-and-xoo.aspx"
                       data-id="article-list-hl">Growth From India Can Propel Western Union and Xoom</a></h4>
                <div class="story-date-author">Piyush Arora | Nov 15, 2013</div>

                <p>Indian remittances recently hit a record high, and are expected to head higher. So, Western Union and
                    Xoom stand to benefit over the longer run.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/11/11/1-stock-to-buy-after-a-big-sell-off.aspx"
                       data-id="article-list-hl">1 Stock to Buy After a Big Sell-Off</a></h4>
                <div class="story-date-author">Timothy Green | Nov 11, 2013</div>

                <p>Shares of Western Union fell by as much as 18% following the company's earnings report. Increased
                    compliance costs are the culprit, but this seemingly bad news isn't really that bad at all.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/10/30/2-crushed-stocks-for-a-long-term-investor.aspx"
                       data-id="article-list-hl">2 Crushed Stocks for a Long-Term Investor</a></h4>
                <div class="story-date-author">Matt Koppenheffer and David Hanson | Oct 30, 2013</div>

                <p>Rapid fire! We look at stories impacting Aflac, Blackstone, and Western Union.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/10/30/where-the-money-is-october-30.aspx"
                       data-id="article-list-hl">Where the Money Is: October 30</a></h4>
                <div class="story-date-author">Matt Koppenheffer and David Hanson | Oct 30, 2013</div>

                <p>The biggest stories from Wednesday’s world of finance.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/10/29/western-union-beats-on-bottom-line-in-line-on-top.aspx"
                       data-id="article-list-hl">Western Union Beats on Bottom Line, in Line on Top</a></h4>
                <div class="story-date-author">Rich Duprey | Oct 29, 2013</div>

                <p>Global payment leader is feel pressure from previously enacted price reductions</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/10/24/the-market-pauses-before-a-plunge.aspx"
                       data-id="article-list-hl">The Market Pauses Before a Plunge</a></h4>
                <div class="story-date-author">Alex Planes | Oct 24, 2013</div>

                <p>Learning from the market's past to understand its present.</p>
            </div>
        </article>
        <hr>


    </div>


    <div class="list-content" id="page-5">

        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/10/12/ranking-5-stocks-embracing-the-future-of-money.aspx"
                       data-id="article-list-hl">Ranking 5 Stocks Embracing the Future of Money</a></h4>
                <div class="story-date-author">David Hanson and Brendan Mathews | Oct 12, 2013</div>

                <p>Rank It! We rank eBay, Western Union, American Express, Green Dot, and MasterCard.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/10/10/where-the-money-is-october-10.aspx"
                       data-id="article-list-hl">Where the Money Is: October 10</a></h4>
                <div class="story-date-author">David Hanson and Brendan Mathews | Oct 10, 2013</div>

                <p>The biggest stories from Thursday’s world of finance.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/10/08/2-game-changing-stocks.aspx" data-id="article-list-hl">2
                    Game-Changing Stocks</a></h4>
                <div class="story-date-author">David Hanson | Oct 8, 2013</div>

                <p>A deeper look at Western Union and Ellie Mae.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/10/08/where-the-money-is-october-8.aspx" data-id="article-list-hl">Where
                    the Money Is: October 8</a></h4>
                <div class="story-date-author">David Hanson and Simon Erickson | Oct 8, 2013</div>

                <p>The biggest stories from Tuesday’s world of finance.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/09/28/5-stocks-growing-their-dividends-by-30-per-year.aspx"
                       data-id="article-list-hl">5 Stocks Growing Their Dividends by 30% Per Year</a></h4>
                <div class="story-date-author">Joe Tenebruso | Sep 28, 2013</div>

                <p>If you’d like to boost your dividend income, take a look at these stocks.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/09/03/this-money-transfer-company-looks-set-to-grow.aspx"
                       data-id="article-list-hl">This Money Transfer Company Looks Set to Grow</a></h4>
                <div class="story-date-author">Rahul Jaiswal | Sep 3, 2013</div>

                <p>This company -- with twice as many locations as McDonald's, Starbucks, Subway and Wal-Mart combined
                    -- has more growth ahead of it.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/08/18/5-stocks-growing-their-dividends-by-30-per-year.aspx"
                       data-id="article-list-hl">5 Stocks Growing Their Dividends by 30% Per Year</a></h4>
                <div class="story-date-author">Joe Tenebruso | Aug 18, 2013</div>

                <p>If you’d like to boost your dividend income, take a look at these stocks.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/08/16/heres-why-western-union-is-a-good-buy-right-now.aspx"
                       data-id="article-list-hl">Here's Why Western Union Is a Good Buy Right Now</a></h4>
                <div class="story-date-author">Jordan Wathen | Aug 16, 2013</div>

                <p>A disruptive money transfer business won't undermine Western Union's core position.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/08/09/is-it-time-to-sell-western-union.aspx"
                       data-id="article-list-hl">Judge the Method, not the Outcome</a></h4>
                <div class="story-date-author">Daniel Sparks | Aug 9, 2013</div>

                <p>A Fool recounts his tale of a bad investment decision. Can you relate?</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/07/31/western-union-beats-on-both-top-and-bottom-lines.aspx"
                       data-id="article-list-hl">Western Union Beats on Both Top and Bottom Lines</a></h4>
                <div class="story-date-author">Seth Jayson | Jul 31, 2013</div>

                <p>Just the facts, Fool.</p>
            </div>
        </article>
        <hr>


    </div>


    <div class="list-content" id="page-6">

        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/07/27/today-in-history-central-banks-transatlantic-teleg.aspx"
                       data-id="article-list-hl">Today in History: Central Banks, Trans-Atlantic Telegraphs, and Bugs
                    Bunny</a></h4>
                <div class="story-date-author">Alex Planes | Jul 27, 2013</div>

                <p>Learning from the market's past to understand its present.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/07/26/will-western-union-beat-these-analyst-estimates.aspx"
                       data-id="article-list-hl">Will Western Union Beat These Analyst Estimates?</a></h4>
                <div class="story-date-author">Seth Jayson | Jul 26, 2013</div>

                <p>Checking expectations</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/06/20/the-birth-of-an-american-food-empire.aspx"
                       data-id="article-list-hl">The Birth of an American Food Empire</a></h4>
                <div class="story-date-author">Alex Planes | Jun 20, 2013</div>

                <p>Learning from the market's past to understand its present.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/05/01/todays-3-best-stocks-80.aspx" data-id="article-list-hl">Today's
                    3 Best Stocks</a></h4>
                <div class="story-date-author">Sean Williams | May 1, 2013</div>

                <p>A roundup of the day's best performers within the S&amp;P 500 and what their moves mean for
                    investors.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/05/01/western-union-beats-analyst-estimates-on-eps.aspx"
                       data-id="article-list-hl">Western Union Beats Analyst Estimates on EPS</a></h4>
                <div class="story-date-author">Seth Jayson | May 1, 2013</div>

                <p>Just the facts, Fool.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/04/30/1-way-big-finance-stifles-shareholders.aspx"
                       data-id="article-list-hl">1 Way Big Finance Stifles Shareholders </a></h4>
                <div class="story-date-author">M. Joy Hayes, Hayes | Apr 30, 2013</div>

                <p>These businesses are fighting tooth and nail to keep your director nominees off the proxy.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/04/26/today-in-history-the-chernobyl-disaster-and-the-ol.aspx"
                       data-id="article-list-hl">Today in History: The Chernobyl Disaster and the Old Scourge of
                    Long-Term Unemployment</a></h4>
                <div class="story-date-author">Alex Planes | Apr 26, 2013</div>

                <p>Learning from the market's past to understand its present.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/04/24/3-stocks-to-watch-right-now-17.aspx"
                       data-id="article-list-hl">3 Stocks to Watch Right Now</a></h4>
                <div class="story-date-author">Chris Hill | Apr 24, 2013</div>

                <p>Here are three stocks lighting up our radar this week that you should know about.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/04/17/why-western-union-will-keep-crawling-back.aspx"
                       data-id="article-list-hl">Why Western Union Will Keep Crawling Back</a></h4>
                <div class="story-date-author">Brian D. Pacampara, CFA | Apr 17, 2013</div>

                <p>Market-trouncing returns could be written in these four stars.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/04/12/2-stocks-to-watch-right-now-40.aspx"
                       data-id="article-list-hl">2 Stocks to Watch Right Now</a></h4>
                <div class="story-date-author">Chris Hill | Apr 12, 2013</div>

                <p>Are these two stocks on your radar this week? They're on ours.</p>
            </div>
        </article>
        <hr>


    </div>


    <div class="list-content" id="page-7">

        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/04/11/5-top-dividend-stocks-for-the-long-term.aspx"
                       data-id="article-list-hl">5 Top Dividend Stocks for the Long Term</a></h4>
                <div class="story-date-author">John Reeves and David Meier | Apr 11, 2013</div>

                <p>Five compelling dividend stock ideas.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/04/01/the-first-telecom-revolution-and-the-last-day-of-c.aspx"
                       data-id="article-list-hl">The First Telecom Revolution and the Last Day of Dirt-Cheap Oil</a>
                </h4>
                <div class="story-date-author">Alex Planes | Apr 1, 2013</div>

                <p>Learning from the market's past to understand its present.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/02/13/western-union-beats-on-both-top-and-bottom-lines.aspx"
                       data-id="article-list-hl">Western Union Beats on Both Top and Bottom Lines</a></h4>
                <div class="story-date-author">Seth Jayson | Feb 13, 2013</div>

                <p>Just the facts, Fool.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/02/10/can-western-union-beat-these-numbers.aspx"
                       data-id="article-list-hl">Can Western Union Beat These Numbers?</a></h4>
                <div class="story-date-author">Seth Jayson | Feb 10, 2013</div>

                <p>Checking expectations</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/02/08/5-reasons-to-worry-about-next-week-19.aspx"
                       data-id="article-list-hl">5 Reasons to Worry About Next Week</a></h4>
                <div class="story-date-author">Rick Munarriz | Feb 8, 2013</div>

                <p>These five companies are going the wrong way on the bottom line.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/01/10/todays-3-best-stocks-4.aspx" data-id="article-list-hl">Today's
                    3 Best Stocks</a></h4>
                <div class="story-date-author">Sean Williams | Jan 10, 2013</div>

                <p>A roundup of the day's best performers within the S&amp;P 500, and what their moves mean for
                    investors.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2013/01/09/wednesdays-top-upgrades-and-downgrades-13.aspx"
                       data-id="article-list-hl">Wednesday's Top Upgrades (and Downgrades)</a></h4>
                <div class="story-date-author">Rich Smith | Jan 9, 2013</div>

                <p>Analysts shift stance on DISH Network, KeyCorp, and Western Union. </p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2012/12/31/5-companies-welcoming-the-fiscal-cliff-with-open-a.aspx"
                       data-id="article-list-hl">5 Companies Welcoming the Fiscal Cliff With Open Arms</a></h4>
                <div class="story-date-author">Sean Williams | Dec 31, 2012</div>

                <p>The fiscal cliff is bad news for many companies, but not these five!</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2012/12/14/is-western-union-destined-for-greatness.aspx"
                       data-id="article-list-hl">Is Western Union Destined for Greatness?</a></h4>
                <div class="story-date-author">Alex Planes | Dec 14, 2012</div>

                <p>Let’s see what the numbers say.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2012/11/08/5-star-stocks-that-just-got-smoked-western-union.aspx"
                       data-id="article-list-hl">5-Star Stocks That Just Got Smoked: Western Union</a></h4>
                <div class="story-date-author">Brian D. Pacampara, CFA | Nov 8, 2012</div>

                <p>Market-trouncing returns could be written in this beaten-down 5-Star.</p>
            </div>
        </article>
        <hr>


    </div>


    <div class="list-content" id="page-8">

        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2012/11/05/5-of-last-weeks-biggest-losers-7.aspx"
                       data-id="article-list-hl">5 of Last Week's Biggest Losers</a></h4>
                <div class="story-date-author">Rick Munarriz | Nov 5, 2012</div>

                <p>These stocks went the wrong way last week.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2012/10/31/this-is-the-reason-the-sp-500-went-in-circles-toda.aspx"
                       data-id="article-list-hl">This Is the Reason the S&amp;P 500 Went in Circles Today</a></h4>
                <div class="story-date-author">Sean Williams | Oct 31, 2012</div>

                <p>Hurricane Sandy’s impact takes center stage, as earnings reports flood the market. </p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2012/10/31/western-union-beats-analyst-estimates-on-eps.aspx"
                       data-id="article-list-hl">Western Union Beats Analyst Estimates on EPS</a></h4>
                <div class="story-date-author">Seth Jayson | Oct 31, 2012</div>

                <p>Just the facts, Fool.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2012/10/25/coming-soon-western-union-earnings.aspx"
                       data-id="article-list-hl">Coming Soon: Western Union Earnings</a></h4>
                <div class="story-date-author">Seth Jayson | Oct 25, 2012</div>

                <p>Checking expectations</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2012/10/11/4-star-stocks-poised-to-pop-western-union.aspx"
                       data-id="article-list-hl">4-Star Stocks Poised to Pop: Western Union</a></h4>
                <div class="story-date-author">Brian D. Pacampara, CFA | Oct 11, 2012</div>

                <p>Market-trouncing returns could be written in this four-star.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2012/08/30/has-western-union-become-the-perfect-stock.aspx"
                       data-id="article-list-hl">Has Western Union Become the Perfect Stock?</a></h4>
                <div class="story-date-author">Dan Caplinger | Aug 30, 2012</div>

                <p>Finding companies that have all the right stuff can produce winners.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2012/07/24/western-union-beats-analyst-estimates-on-eps.aspx"
                       data-id="article-list-hl">Western Union Beats Analyst Estimates on EPS</a></h4>
                <div class="story-date-author">Seth Jayson | Jul 24, 2012</div>

                <p>Just the facts, Fool.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2012/06/22/5-star-stocks-poised-to-pop-western-union.aspx"
                       data-id="article-list-hl">5-Star Stocks Poised to Pop: Western Union</a></h4>
                <div class="story-date-author">Brian D. Pacampara, CFA | Jun 22, 2012</div>

                <p>Market-trouncing returns could be written in this 5-Star.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2012/04/24/western-union-beats-on-revenue-matches-expectatio.aspx"
                       data-id="article-list-hl">Western Union Beats on Revenue, Matches Expectations on EPS</a></h4>
                <div class="story-date-author">Seth Jayson | Apr 24, 2012</div>

                <p>Just the facts, Fool.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2012/04/05/cashing-in-on-western-union.aspx" data-id="article-list-hl">Cashing
                    In on Western Union</a></h4>
                <div class="story-date-author">Brendan Mathews | Apr 5, 2012</div>

                <p>Western Union is positioned to benefit from global migration.</p>
            </div>
        </article>
        <hr>


    </div>


    <div class="list-content" id="page-9">

        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2012/03/30/declassified.aspx"
                       data-id="article-list-hl">Declassified!</a></h4>
                <div class="story-date-author">Alyce Lomax | Mar 30, 2012</div>

                <p>Here's one way companies can get some real class.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2012/03/23/can-overseas-sales-drive-western-union-forward.aspx"
                       data-id="article-list-hl">Can Overseas Sales Drive Western Union Forward?</a></h4>
                <div class="story-date-author">Eric Bleeker | Mar 23, 2012</div>

                <p>Where's your company generating its sales?</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/retirement/general/2012/02/22/4-star-stocks-poised-to-pop-western-union.aspx"
                       data-id="article-list-hl">4-Star Stocks Poised to Pop: Western Union</a></h4>
                <div class="story-date-author">Brian D. Pacampara, CFA | Feb 22, 2012</div>

                <p>Market-trouncing returns could be written in this 4-Star.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2012/02/14/what-western-union-does-with-its-cash.aspx"
                       data-id="article-list-hl">What Western Union Does With Its Cash</a></h4>
                <div class="story-date-author">Motley Fool Staff | Feb 14, 2012</div>

                <p>Cash is king. What a company does with it matters.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2012/02/13/4-dividend-stocks-showing-you-the-money.aspx"
                       data-id="article-list-hl">4 Dividend Stocks Showing You the Money</a></h4>
                <div class="story-date-author">Rick Munarriz | Feb 13, 2012</div>

                <p>Companies with growing yields can make you rich in more ways than the obvious one. </p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/dividends-income/2012/02/08/1-dividend-stock-that-could-pay-up.aspx"
                       data-id="article-list-hl">1 Dividend Stock That Could Pay Up</a></h4>
                <div class="story-date-author">Chris Hill | Feb 8, 2012</div>

                <p>None</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2012/02/08/golf-clap-for-western-union.aspx" data-id="article-list-hl">Golf
                    Clap for Western Union</a></h4>
                <div class="story-date-author">Seth Jayson | Feb 8, 2012</div>

                <p>Just the facts, Fool.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4>
                    <a href="/investing/dividends-income/2011/10/30/broadridge-financial-solutions-dividend-is-safe.aspx"
                       data-id="article-list-hl">Broadridge Financial Solutions' Dividend Is Safe</a></h4>
                <div class="story-date-author">Dan Dzombak | Oct 30, 2011</div>

                <p>These three tools can help determine the stability of its payout.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2011/08/31/is-western-union-the-perfect-stock.aspx"
                       data-id="article-list-hl">Is Western Union the Perfect Stock?</a></h4>
                <div class="story-date-author">Dan Caplinger | Aug 31, 2011</div>

                <p>Finding companies that have all the right stuff can produce winners.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/retirement/general/2011/08/18/5-star-stocks-poised-to-pop-western-union.aspx"
                       data-id="article-list-hl">5-Star Stocks Poised to Pop: Western Union</a></h4>
                <div class="story-date-author">Brian D. Pacampara, CFA | Aug 18, 2011</div>

                <p>Market-trouncing returns could be written in this 5-star.</p>
            </div>
        </article>
        <hr>


    </div>


    <div class="list-content" id="page-10">

        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2011/07/19/a-foolish-view-of-a-magic-formula.aspx"
                       data-id="article-list-hl">A Foolish View of a Magic Formula</a></h4>
                <div class="story-date-author">Cindy Johnson | Jul 19, 2011</div>

                <p>A quick, easy way to combine fundamental and quantitative investing.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2011/06/17/a-foolish-view-of-a-magic-formula.aspx"
                       data-id="article-list-hl">A Foolish View of a Magic Formula</a></h4>
                <div class="story-date-author">Cindy Johnson | Jun 17, 2011</div>

                <p>A quick, easy way to combine fundamental and quantitative investing.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/options/2011/06/13/profit-as-stocks-go-nowhere.aspx" data-id="article-list-hl">Profit
                    As Stocks Go Nowhere</a></h4>
                <div class="story-date-author">Jeff Fischer | Jun 13, 2011</div>

                <p>With covered strangles.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2011/05/28/does-western-union-deserve-a-spot-in-your-portfoli.aspx"
                       data-id="article-list-hl">Does Western Union Deserve a Spot in Your Portfolio?</a></h4>
                <div class="story-date-author">Andrew Tonner | May 28, 2011</div>

                <p>A quick check of the numbers should help get us started.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/dividends-income/2011/05/23/4-dividend-stocks-showing-you-the-money.aspx"
                       data-id="article-list-hl">4 Dividend Stocks Showing You the Money</a></h4>
                <div class="story-date-author">Rick Munarriz | May 23, 2011</div>

                <p>Companies with growing yields can make you rich in more ways than the obvious. </p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2011/05/23/broadridge-financial-solutions-dividend-is-safe.aspx"
                       data-id="article-list-hl">Broadridge Financial Solutions' Dividend Is Safe</a></h4>
                <div class="story-date-author">Dan Dzombak | May 23, 2011</div>

                <p>These three tools can help determine the stability of its payout.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/retirement/general/2011/03/03/is-western-union-a-stock-for-the-long-term.aspx"
                       data-id="article-list-hl">Is Western Union a Stock for the Long Term?</a></h4>
                <div class="story-date-author">Jordan DiPietro | Mar 3, 2011</div>

                <p>Does this company have the traits of a good retirement stock?</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2011/02/28/how-to-profit-along-with-underbanked-americans.aspx"
                       data-id="article-list-hl">How to Profit Along With Underbanked Americans </a></h4>
                <div class="story-date-author">Aditi Baid | Feb 28, 2011</div>

                <p>Prepaid debit cards cater to a large chunk of the underbanked American population.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2011/02/28/which-stock-falls-first.aspx" data-id="article-list-hl">Which
                    Stock Falls First?</a></h4>
                <div class="story-date-author">Rich Smith | Feb 28, 2011</div>

                <p>The bigger they are, the harder they (might) fall.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2011/02/17/seize-your-chance-to-beat-the-pros.aspx"
                       data-id="article-list-hl">Seize Your Chance to Beat the Pros!</a></h4>
                <div class="story-date-author">Alex Dumortier, CFA | Feb 17, 2011</div>

                <p>An area of genuine opportunity for the small investor.</p>
            </div>
        </article>
        <hr>


    </div>


    <div class="list-content" id="page-11">

        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2010/12/29/how-long-can-western-unions-dividends-last.aspx"
                       data-id="article-list-hl">How Long Can Western Union's Dividends Last?</a></h4>
                <div class="story-date-author">Jordan DiPietro | Dec 29, 2010</div>

                <p>Evaluating the sustainability of dividend payments.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2010/12/17/the-crucial-asset-your-investments-ignore.aspx"
                       data-id="article-list-hl">The Crucial Asset Your Investments Ignore</a></h4>
                <div class="story-date-author">Alyce Lomax | Dec 17, 2010</div>

                <p>Are your stocks lacking an important advantage for the long haul?</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/dividends-income/2010/12/13/4-dividend-stocks-showing-you-the-money.aspx"
                       data-id="article-list-hl">4 Dividend Stocks Showing You the Money</a></h4>
                <div class="story-date-author">Rick Munarriz | Dec 13, 2010</div>

                <p>Companies with growing yields can make you rich in more ways than the obvious. </p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2010/12/02/heres-how-mercadolibre-is-making-you-so-much-cash.aspx"
                       data-id="article-list-hl">Here's How Mercadolibre Is Making You So Much Cash</a></h4>
                <div class="story-date-author">Seth Jayson | Dec 2, 2010</div>

                <p>All cash flow is not created equal.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2010/11/03/broadridge-financial-solutions-dividends-may-not-l.aspx"
                       data-id="article-list-hl">Broadridge Financial Solutions' Dividends May Not Last Forever</a></h4>
                <div class="story-date-author">Jordan DiPietro | Nov 3, 2010</div>

                <p>Evaluating the sustainability of dividend payments.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2010/10/13/how-much-is-adp-worth.aspx" data-id="article-list-hl">How
                    Much Is ADP Worth?</a></h4>
                <div class="story-date-author">Matt Koppenheffer | Oct 13, 2010</div>

                <p>Is ADP's stock on sale?</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2010/10/05/do-mercadolibres-margins-miss-the-grade.aspx"
                       data-id="article-list-hl">Do MercadoLibre's Margins Miss the Grade?</a></h4>
                <div class="story-date-author">Seth Jayson | Oct 5, 2010</div>

                <p>Keep your eye on margins.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/retirement/general/2010/09/30/how-to-beat-the-new-normal.aspx" data-id="article-list-hl">How
                    to Beat the New Normal</a></h4>
                <div class="story-date-author">Dan Caplinger | Sep 30, 2010</div>

                <p>Even if the old rules are changing, you can still profit.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2010/09/30/from-gross-to-net-at-alliance-data-systems.aspx"
                       data-id="article-list-hl">From Gross to Net at Alliance Data Systems</a></h4>
                <div class="story-date-author">Seth Jayson | Sep 30, 2010</div>

                <p>Keep your eye on margins.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2010/09/22/10-stocks-with-blazing-fast-dividend-growth.aspx"
                       data-id="article-list-hl">10 Stocks With Blazing Fast Dividend Growth</a></h4>
                <div class="story-date-author">Matt Koppenheffer | Sep 22, 2010</div>

                <p>These companies are growing their dividends at lightning fast speeds.</p>
            </div>
        </article>
        <hr>


    </div>


    <div class="list-content" id="page-12">

        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/why-spinoffs-beat-the-market.aspx" data-id="article-list-hl">Why
                    Spinoffs Beat the Market</a></h4>
                <div class="story-date-author">Alex Pape | Aug 23, 2010</div>

                <p>Part 1 of your introduction to the Spinoff Report Card.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/dividends-income/2010/08/18/paychex-dividend-dynamo-or-disaster.aspx"
                       data-id="article-list-hl">Paychex: Dividend Dynamo or Disaster?</a></h4>
                <div class="story-date-author">Ilan Moscovitz | Aug 18, 2010</div>

                <p>Just how safe is this dividend?</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/dividends-income/2010/08/16/how-safe-are-paychexs-dividends.aspx"
                       data-id="article-list-hl">How Safe Are Paychex's Dividends?</a></h4>
                <div class="story-date-author">Jordan DiPietro | Aug 16, 2010</div>

                <p>Evaluating the sustainability of dividend payments.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2010/08/11/the-power-of-earnings-western-union.aspx"
                       data-id="article-list-hl">The Power of Earnings: Western Union</a></h4>
                <div class="story-date-author">Andy Cross | Aug 11, 2010</div>

                <p>Put the spotlight on how to measure earnings power value.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2010/08/06/3-additional-stocks-for-a-diversified-portfolio.aspx"
                       data-id="article-list-hl">3 Additional Stocks for a Diversified Portfolio</a></h4>
                <div class="story-date-author">Jason Moser | Aug 6, 2010</div>

                <p>A new trio of picks to mix up your stocks.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2010/07/28/stock-advisor-buy-list-ebay.aspx" data-id="article-list-hl">Stock
                    Advisor Buy List: eBay</a></h4>
                <div class="story-date-author">Bryan White | Jul 28, 2010</div>

                <p>With its growing PayPal division, eBay has a lot of potential. </p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2010/06/18/3-top-rated-cash-kings.aspx" data-id="article-list-hl">3
                    Top-Rated Cash Kings </a></h4>
                <div class="story-date-author">Brian D. Pacampara, CFA | Jun 18, 2010</div>

                <p>We're back to bow to three more cash-flowing rulers of Fooldom.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2010/04/29/7-stocks-with-a-bright-future.aspx"
                       data-id="article-list-hl">7 Stocks With a Bright Future</a></h4>
                <div class="story-date-author">Matt Koppenheffer | Apr 29, 2010</div>

                <p>Here are seven companies that may help bring the word "growth" back to investors' vocabularies.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2010/04/23/7-reasons-to-worry-about-next-week.aspx"
                       data-id="article-list-hl">7 Reasons to Worry About Next Week</a></h4>
                <div class="story-date-author">Rick Munarriz | Apr 23, 2010</div>

                <p>Watch your step on the way down next week. &nbsp;</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2010/04/06/5-of-the-best-businesses-to-own.aspx"
                       data-id="article-list-hl">5 of the Best Businesses to Own</a></h4>
                <div class="story-date-author">Brian D. Pacampara, CFA | Apr 6, 2010</div>

                <p>If you're not watching these stocks, what are you watching?</p>
            </div>
        </article>
        <hr>


    </div>


    <div class="list-content" id="page-13">

        <article class="no-card-image">

            <div class="text">
                <h4><a href="/retirement/general/2010/02/02/5-star-stocks-poised-to-pop-western-union.aspx"
                       data-id="article-list-hl">5-Star Stocks Poised to Pop: Western Union</a></h4>
                <div class="story-date-author">Brian D. Pacampara, CFA | Feb 2, 2010</div>

                <p>Market-trouncing returns could be written in these five stars.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/value/2009/09/11/5-star-stocks-poised-to-pop-western-union.aspx"
                       data-id="article-list-hl">5-Star Stocks Poised to Pop: Western Union</a></h4>
                <div class="story-date-author">Brian D. Pacampara, CFA | Sep 11, 2009</div>

                <p>Market-trouncing returns could be written in these five stars.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2009/08/27/5-stocks-ready-to-bounce-back.aspx"
                       data-id="article-list-hl">5 Stocks Ready to Bounce Back</a></h4>
                <div class="story-date-author">Rich Duprey | Aug 27, 2009</div>

                <p>These stocks are ready to take on the market in a rubber match.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2009/08/21/warren-buffett-is-a-growth-investor.aspx"
                       data-id="article-list-hl">Warren Buffett Is a Growth Investor</a></h4>
                <div class="story-date-author">Matt Koppenheffer | Aug 21, 2009</div>

                <p>Think you know how the world's greatest investor rolls? You don't know Warren!</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2009/07/28/this-just-in-upgrades-and-downgrades.aspx"
                       data-id="article-list-hl">This Just In: Upgrades and Downgrades</a></h4>
                <div class="story-date-author">Rich Smith | Jul 28, 2009</div>

                <p>Citi places an order for Western Union.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2009/07/15/5-star-stocks-begging-to-be-bought.aspx"
                       data-id="article-list-hl">5-Star Stocks Begging to Be Bought</a></h4>
                <div class="story-date-author">Morgan Housel | Jul 15, 2009</div>

                <p>These stocks are just too cheap to ignore.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2009/02/12/stocks-the-rich-executives-are-buying.aspx"
                       data-id="article-list-hl">Stocks the Rich Executives Are Buying</a></h4>
                <div class="story-date-author">Tim Beyers | Feb 12, 2009</div>

                <p>Sometimes insiders are buying for all the right reasons. Who's at it this week?</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/value/2008/12/04/5-star-stocks-poised-to-pop-western-union.aspx"
                       data-id="article-list-hl">5-Star Stocks Poised to Pop: Western Union</a></h4>
                <div class="story-date-author">Brian D. Pacampara, CFA | Dec 4, 2008</div>

                <p>Market-trouncing returns could be written in these five stars.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/value/2008/07/29/5-all-star-stocks-on-fire.aspx" data-id="article-list-hl">5
                    All-Star Stocks on Fire</a></h4>
                <div class="story-date-author">Matt Koppenheffer | Jul 29, 2008</div>

                <p>What's better than a high-quality stock? A high-quality stock that's got the wind at its back!</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/value/2008/07/22/will-buffett-regret-selling-western-union.aspx"
                       data-id="article-list-hl">Will Buffett Regret Selling Western Union?</a></h4>
                <div class="story-date-author">Alex Dumortier, CFA | Jul 22, 2008</div>

                <p>I bought. Buffett sold. So far, so good.</p>
            </div>
        </article>
        <hr>


    </div>


    <div class="list-content" id="page-14">

        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2008/06/23/7-stocks-shrinking-shares.aspx" data-id="article-list-hl">7
                    Stocks Shrinking Shares</a></h4>
                <div class="story-date-author">Rich Duprey | Jun 23, 2008</div>

                <p>These companies are buying back their shares. Should you buy them, too?</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2008/06/20/todays-five-star-movers.aspx" data-id="article-list-hl">Today's
                    5-Star Movers</a></h4>
                <div class="story-date-author">Motley Fool Staff | Jun 20, 2008</div>

                <p>Maybe what glitters really is gold.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/value/2008/04/22/all-smiles-at-western-union.aspx" data-id="article-list-hl">All
                    Smiles at Western Union</a></h4>
                <div class="story-date-author">Morgan Housel | Apr 22, 2008</div>

                <p>Global growth continues its push.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/value/2008/02/04/western-union-grows-on-global-push.aspx"
                       data-id="article-list-hl">Western Union Grows on Global Push</a></h4>
                <div class="story-date-author">Morgan Housel | Feb 4, 2008</div>

                <p>The money-transfer company isn't taking a breather.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/value/2007/11/01/western-union-calling.aspx" data-id="article-list-hl">Western
                    Union Calling</a></h4>
                <div class="story-date-author">Rich Smith | Nov 1, 2007</div>

                <p>A Foolish chat with the CEO.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/value/2007/10/25/western-union-ho.aspx" data-id="article-list-hl">Western Union
                    Ho!</a></h4>
                <div class="story-date-author">Rich Smith | Oct 25, 2007</div>

                <p>All's quiet on the Western front, but investors don't mind.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/value/2007/10/22/foolish-forecast-western-union-wilting.aspx"
                       data-id="article-list-hl">Foolish Forecast: Western Union Wilting?</a></h4>
                <div class="story-date-author">Rich Smith | Oct 22, 2007</div>

                <p>Views you can use to get clues on tomorrow's news.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/general/2007/03/27/western-union-revisited.aspx" data-id="article-list-hl">Western
                    Union Revisited</a></h4>
                <div class="story-date-author">Ryan Fuhrmann, CFA | Mar 27, 2007</div>

                <p>The former telegraph operator is now a cash-generating machine.</p>
            </div>
        </article>
        <hr>


        <article class="no-card-image">

            <div class="text">
                <h4><a href="/investing/value/2007/02/02/western-union-value-play-or-value-trap.aspx"
                       data-id="article-list-hl">Western Union: Value Play or Value Trap?</a></h4>
                <div class="story-date-author">Emil Lee | Feb 2, 2007</div>

                <p>Results weren't stellar, but Western Union's got a great franchise.</p>
            </div>
        </article>
        <hr>

    </div>
</div>