<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2019-09-17/can-j-c-penney-bounce-back-ceo-revamps-dressing-rooms-and-more"
        class="thumbnailWrapper__e5d5adec"><img
        alt="relates to Can J. C. Penney Bounce Back? CEO Revamps Dressing Rooms and More"
        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iGIc_a.r1aFI/v0/340x260.jpg" class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2019-09-17/can-j-c-penney-bounce-back-ceo-revamps-dressing-rooms-and-more">Can
            J. C. Penney Bounce Back? CEO Revamps Dressing Rooms and More</a>
        <div class="authors__70a84826">By Jordyn Holman</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2019-09-17/can-j-c-penney-bounce-back-ceo-revamps-dressing-rooms-and-more">‘It
            hasn’t been a great shopping experience,’ Soltau says nearly a year into her tenure at the department-store
            chain struggling for a comeback.</a>
        <div class="publishedAt__79f8aaad">September 17, 2019</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/view/articles/2019-08-15/walmart-earnings-retailer-finds-the-consumer-is-still-confident"
        class="thumbnailWrapper__e5d5adec"><img
        alt="relates to Walmart Earnings: Retailer Finds the Consumer Is Still Confident"
        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iZ01lH47KSSo/v0/340x260.png" class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">opinion</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/view/articles/2019-08-15/walmart-earnings-retailer-finds-the-consumer-is-still-confident">Walmart
            Earnings: Retailer Finds the Consumer Is Still Confident</a>
        <div class="authors__70a84826">By Sarah Halzack</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/view/articles/2019-08-15/walmart-earnings-retailer-finds-the-consumer-is-still-confident">Despite
            a trade war and fears of a downturn, the retailer remains optimistic.</a>
        <div class="publishedAt__79f8aaad">August 15, 2019</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2019-04-05/johnson-leads-battle-of-warchests-in-u-k-tory-leadership-race"
        class="thumbnailWrapper__e5d5adec"><img
        alt="relates to Johnson Leads Battle of Warchests in U.K. Tory Leadership Race"
        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ijaextAYsL4U/v0/340x260.jpg" class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">politics</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2019-04-05/johnson-leads-battle-of-warchests-in-u-k-tory-leadership-race">Johnson
            Leads Battle of Warchests in U.K. Tory Leadership Race</a>
        <div class="authors__70a84826">By Alex Morales</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2019-04-05/johnson-leads-battle-of-warchests-in-u-k-tory-leadership-race">If
            all that mattered in U.K. politics was money, Boris Johnson would be a shoo-in to succeed Theresa May as
            Conservative Party Leader and prime minister.</a>
        <div class="publishedAt__79f8aaad">April 5, 2019</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2019-03-19/amazon-spawns-new-sites-turning-online-castoffs-into-fat-profits"
        class="thumbnailWrapper__e5d5adec"><img
        alt="relates to Amazon Spawns New Sites Turning Online Castoffs Into Fat Profits"
        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ii7iesvO9rJw/v0/340x260.jpg" class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">technology</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2019-03-19/amazon-spawns-new-sites-turning-online-castoffs-into-fat-profits">Amazon
            Spawns New Sites Turning Online Castoffs Into Fat Profits</a>
        <div class="authors__70a84826">By Susan Warren</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2019-03-19/amazon-spawns-new-sites-turning-online-castoffs-into-fat-profits">Kerry
            Franciscovich describes herself as a lifelong garage-sale scavenger, reselling her finds over the years on
            EBay Inc. So when she wanted to earn some extra spending money, she decided to step up her online game.</a>
        <div class="publishedAt__79f8aaad">March 19, 2019</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2018-10-12/what-you-need-to-know-as-sears-slides-toward-a-bankruptcy-filing"
        class="thumbnailWrapper__e5d5adec"><img
        alt="relates to What You Need to Know as Sears Slides Toward a Bankruptcy Filing"
        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iN88VE7Ykvw8/v0/340x260.jpg" class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">markets</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2018-10-12/what-you-need-to-know-as-sears-slides-toward-a-bankruptcy-filing">What
            You Need to Know as Sears Slides Toward a Bankruptcy Filing</a>
        <div class="authors__70a84826">By Misyrlena Egkolfopoulou, Eliza Ronalds-Hannon, and Allison McNeely</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2018-10-12/what-you-need-to-know-as-sears-slides-toward-a-bankruptcy-filing">Sears
            Holdings Corp., one of America’s most iconic retailers, is said to be planning to file for bankruptcy as
            early as this Sunday. Negotiations over the fate of the fallen company have been continuing this week, as it
            faces a critical $134 million of debt that is maturing on Oct. 15.</a>
        <div class="publishedAt__79f8aaad">October 12, 2018</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2018-08-26/nirav-modi-linked-u-s-firms-tied-to-india-fraud-by-examiner"
        class="thumbnailWrapper__e5d5adec"><img
        alt="relates to Nirav Modi-Linked U.S. Firms Tied to India Fraud by Examiner"
        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iPCwhiMuKZX4/v0/340x260.jpg" class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">markets</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2018-08-26/nirav-modi-linked-u-s-firms-tied-to-india-fraud-by-examiner">Nirav
            Modi-Linked U.S. Firms Tied to India Fraud by Examiner</a>
        <div class="authors__70a84826">By Subhadip Sircar and Josh Saul</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2018-08-26/nirav-modi-linked-u-s-firms-tied-to-india-fraud-by-examiner">Three
            bankrupt U.S. companies with links to Indian billionaire Nirav Modi were “directly involved” in transactions
            related to the alleged multibillion-dollar international fraud for which Modi has been charged by Indian
            authorities, according to an investigation by the court-appointed examiner that was filed Saturday.</a>
        <div class="publishedAt__79f8aaad">August 26, 2018</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2018-08-24/so-you-want-to-short-tesla-here-s-what-you-pay-to-pull-it-off"
        class="thumbnailWrapper__e5d5adec"><img alt="relates to How to Short Tesla? Here's What You Pay to Pull It Off"
                                                src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ireFF5eotM6I/v2/340x260.png"
                                                class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">markets</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2018-08-24/so-you-want-to-short-tesla-here-s-what-you-pay-to-pull-it-off">How
            to Short Tesla? Here's What You Pay to Pull It Off</a>
        <div class="authors__70a84826">By Elena Popina</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2018-08-24/so-you-want-to-short-tesla-here-s-what-you-pay-to-pull-it-off">Convinced
            Tesla Inc.’s best days are over and want to bet against it? You’ll pay for the privilege, though the price
            is coming down.</a>
        <div class="publishedAt__79f8aaad">August 24, 2018</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2018-08-21/kohl-s-sales-advance-just-not-enough-for-jittery-wall-street"
        class="thumbnailWrapper__e5d5adec"><img
        alt="relates to Kohl's Sales Gain, Just Not Enough for Jittery Wall Street"
        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/inqRIYMth02g/v2/340x260.png" class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2018-08-21/kohl-s-sales-advance-just-not-enough-for-jittery-wall-street">Kohl's
            Sales Gain, Just Not Enough for Jittery Wall Street</a>
        <div class="authors__70a84826">By Hema Parmar</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2018-08-21/kohl-s-sales-advance-just-not-enough-for-jittery-wall-street">In
            yet another U.S. retail disappointment, shares of Kohl’s Corp. sank after its quarterly report -- a sign
            that jitters about department-store prospects persist on Wall Street.</a>
        <div class="publishedAt__79f8aaad">August 21, 2018</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2018-08-16/five-things-you-need-to-know-to-start-your-day"
        class="thumbnailWrapper__e5d5adec"><img alt="relates to Five Things You Need to Know to Start Your Day"
                                                src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iRMuCgHvnWac/v0/340x260.png"
                                                class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">markets</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2018-08-16/five-things-you-need-to-know-to-start-your-day">Five
            Things You Need to Know to Start Your Day</a>
        <div class="authors__70a84826">By Lorcan Roche Kelly</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2018-08-16/five-things-you-need-to-know-to-start-your-day">Get
            caught up on what's moving markets.</a>
        <div class="publishedAt__79f8aaad">August 16, 2018</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2017-10-18/adp-chief-calls-ackman-s-proxy-fight-a-distraction-from-plan"
        class="thumbnailWrapper__e5d5adec"><img
        alt="relates to ADP Chief Calls Ackman's Proxy Fight a Distraction From Plan"
        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/i8MxcgmqKnzY/v1/340x260.jpg" class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">markets</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2017-10-18/adp-chief-calls-ackman-s-proxy-fight-a-distraction-from-plan">ADP
            Chief Calls Ackman's Proxy Fight a Distraction From Plan</a>
        <div class="authors__70a84826">By Scott Deveau</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2017-10-18/adp-chief-calls-ackman-s-proxy-fight-a-distraction-from-plan">Bill
            Ackman’s proxy battle at Automatic Data Processing Inc. was dismissed by Chief Executive Officer Carlos
            Rodriguez as a major distraction based on inaccurate claims.</a>
        <div class="publishedAt__79f8aaad">October 18, 2017</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2017-09-19/plus-size-lingerie-turns-into-rare-growth-market-in-u-s-apparel"
        class="thumbnailWrapper__e5d5adec"><img
        alt="relates to Plus-Size Lingerie Turns Into Rare Growth Market in U.S. Apparel"
        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iO15pDroYoaA/v1/340x260.jpg" class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">pursuits</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2017-09-19/plus-size-lingerie-turns-into-rare-growth-market-in-u-s-apparel">Plus-Size
            Lingerie Turns Into Rare Growth Market in U.S. Apparel</a>
        <div class="authors__70a84826">By Stephanie Hoi-Nga Wong</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2017-09-19/plus-size-lingerie-turns-into-rare-growth-market-in-u-s-apparel">Ask
            any woman. Shopping for bras is a pain, sometimes literally. And if you’re what they call curvy? Good luck
            with that.</a>
        <div class="publishedAt__79f8aaad">September 19, 2017</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2017-06-13/after-rare-buffett-misstep-a-maine-shoe-town-tries-to-rebuild"
        class="thumbnailWrapper__e5d5adec"><img
        alt="relates to After Rare Buffett Misstep, a Maine Shoe Town Tries to Rebuild"
        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/i6mxiKW0caIk/v2/340x260.jpg" class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">businessweek</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2017-06-13/after-rare-buffett-misstep-a-maine-shoe-town-tries-to-rebuild">After
            Rare Buffett Misstep, a Maine Shoe Town Tries to Rebuild</a>
        <div class="authors__70a84826">By Noah Buhayar</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2017-06-13/after-rare-buffett-misstep-a-maine-shoe-town-tries-to-rebuild">Two
            decades after Dexter Shoe closed, $325 hand-sewn penny loafers may hold the key to keeping the craft alive
            in Maine—and U.S. jobs onshore.</a>
        <div class="publishedAt__79f8aaad">June 13, 2017</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2016-11-28/clothes-exports-to-u-s-help-fuel-kenya-plans-for-cotton-revival"
        class="thumbnailWrapper__e5d5adec"><img
        alt="relates to Clothes Exports to U.S. Help Fuel Kenya Plans for Cotton Revival"
        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ieTOQ7lt4ZFw/v0/340x260.jpg" class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">markets</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2016-11-28/clothes-exports-to-u-s-help-fuel-kenya-plans-for-cotton-revival">Clothes
            Exports to U.S. Help Fuel Kenya Plans for Cotton Revival</a>
        <div class="authors__70a84826">By Samuel Gebre</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2016-11-28/clothes-exports-to-u-s-help-fuel-kenya-plans-for-cotton-revival">Kenya
            plans to revive its cotton industry, a major foreign-exchange earner until the 1980s, amid strong demand for
            lint from domestic mills and the potential to supply manufacturers exporting clothing and textiles to the
            U.S. under a preferential trade deal.</a>
        <div class="publishedAt__79f8aaad">November 27, 2016</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2016-09-28/neobanks-chasing-u-k-s-biggest-lenders-face-battle-for-survival"
        class="thumbnailWrapper__e5d5adec"><img
        alt="relates to Neobanks Chasing U.K.’s Biggest Lenders Face Battle for Survival"
        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iRpiXQ_Yiyjo/v0/340x260.jpg" class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">technology</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2016-09-28/neobanks-chasing-u-k-s-biggest-lenders-face-battle-for-survival">Neobanks
            Chasing U.K.’s Biggest Lenders Face Battle for Survival</a>
        <div class="authors__70a84826">By Richard Partington and Jeremy Kahn</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2016-09-28/neobanks-chasing-u-k-s-biggest-lenders-face-battle-for-survival">Will
            Stanley and Jonathan Lind are bonding over pizza, beer and a mutual affection for their coral-colored debit
            cards.</a>
        <div class="publishedAt__79f8aaad">September 28, 2016</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2016-09-22/dna-testing-could-put-an-end-to-fake-egyptian-cotton"
        class="thumbnailWrapper__e5d5adec"><img alt="relates to DNA Testing Could Put an End to Fake Egyptian Cotton"
                                                src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iGfhubxC8VGY/v0/340x260.jpg"
                                                class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">businessweek</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2016-09-22/dna-testing-could-put-an-end-to-fake-egyptian-cotton">DNA
            Testing Could Put an End to Fake Egyptian Cotton</a>
        <div class="authors__70a84826">By Shannon Pettypiece</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2016-09-22/dna-testing-could-put-an-end-to-fake-egyptian-cotton">Scientists
            want to make sure your luxe sheets are actually worth the price tag.</a>
        <div class="publishedAt__79f8aaad">September 22, 2016</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2016-09-12/welspun-declines-after-wal-mart-joins-target-to-pull-bedsheets"
        class="thumbnailWrapper__e5d5adec"><img
        alt="relates to Welspun Declines After Wal-Mart Joins Target to Pull Bedsheets"
        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iRo4mW38MOdY/v1/340x260.jpg" class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">markets</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2016-09-12/welspun-declines-after-wal-mart-joins-target-to-pull-bedsheets">Welspun
            Declines After Wal-Mart Joins Target to Pull Bedsheets</a>
        <div class="authors__70a84826">By K Oanh Ha</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2016-09-12/welspun-declines-after-wal-mart-joins-target-to-pull-bedsheets">Welspun
            India Ltd. shares slid as much as 5 percent in Mumbai trading after Wal-Mart Stores Inc. stopped selling the
            supplier’s Egyptian-cotton sheets over concerns that the products’ origins may be mislabeled.</a>
        <div class="publishedAt__79f8aaad">September 12, 2016</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2016-04-20/kenya-bets-on-u-s-agoa-agreement-to-grow-apparel-exports">Kenya
            Bets on U.S. AGOA Agreement to Grow Apparel Exports</a>
        <div class="authors__70a84826">By Samuel Gebre</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2016-04-20/kenya-bets-on-u-s-agoa-agreement-to-grow-apparel-exports">Kenyan
            apparel exports could grow by 5 percent this year to $400 million after the extension of a preferential U.S.
            trade deal with African nations, according to an industry body.</a>
        <div class="publishedAt__79f8aaad">April 19, 2016</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/audio/2014-10-08/taking-stock-bloomberg-s-hyman-goyal-on-jc-penney">Taking
            Stock: Bloomberg’s Hyman, Goyal on JC Penney</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/audio/2014-10-08/taking-stock-bloomberg-s-hyman-goyal-on-jc-penney">Taking
            Stock Carol Massar and Michael McKee features analysts and fund managers discussing stock picks. Drawing
            upon Bloomberg news and data, timely investment strategies are analyzed and debated by the top minds on Wall
            Street. Breaking news, earnings reports and market updates round out an informative and compelling wrap-up
            to the day’s action.</a>
        <div class="publishedAt__79f8aaad">October 8, 2014</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2014-08-15/u-s-stock-index-futures-advance-before-confidence-report"
        class="thumbnailWrapper__e5d5adec"><img
        alt="relates to U.S. Stocks Rise on Fed Bets Amid Uneven Economy Reports"
        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iLCSzT163q1M/v5/340x260.jpg" class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2014-08-15/u-s-stock-index-futures-advance-before-confidence-report">U.S.
            Stocks Rise on Fed Bets Amid Uneven Economy Reports</a>
        <div class="authors__70a84826">By Jonathan Morgan</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2014-08-15/u-s-stock-index-futures-advance-before-confidence-report">U.S.
            stocks rose, with the Standard &amp; Poor’s 500 Index extending a weekly gain, as uneven economic data
            suggested the central bank will be slow to raise rates while investors watched developments in Ukraine.</a>
        <div class="publishedAt__79f8aaad">August 15, 2014</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2013-12-12/from-the-brink-of-disruption-to-the-year-s-top-corporate-comebacks"
        class="thumbnailWrapper__e5d5adec"><img
        alt="relates to From the Brink of Disruption to the Year’s Top Corporate Comebacks"
        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iDzY7Yl4p3lg/v1/340x260.jpg" class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2013-12-12/from-the-brink-of-disruption-to-the-year-s-top-corporate-comebacks">From
            the Brink of Disruption to the Year’s Top Corporate Comebacks</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2013-12-12/from-the-brink-of-disruption-to-the-year-s-top-corporate-comebacks">In
            1991, LL Cool J rocked MTV Unplugged, rapping to the audience, “Don’t call it a comeback.” He didn’t wish to
            dwell on the flops of the past or to jinx the future.</a>
        <div class="publishedAt__79f8aaad">December 12, 2013</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2013-12-09/avoid-the-discounting-death-spiral">Avoid the
            Discounting Death Spiral</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2013-12-09/avoid-the-discounting-death-spiral">You get what you
            pay for. Don’t be penny wise and pound foolish. A cynic is a man who knows the price of everything and the
            value of nothing. All truisms. And all too often ignored in business.</a>
        <div class="publishedAt__79f8aaad">December 9, 2013</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2013-12-09/discriminatory-lending-b-n-john-thomas-ceo-compliance">Discriminatory
            Lending, B&amp;N, John Thomas CEO: Compliance</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2013-12-09/discriminatory-lending-b-n-john-thomas-ceo-compliance">Citigroup
            Inc. and Wells Fargo &amp; Co. were accused of discriminatory mortgage lending by the city of Los Angeles,
            which seeks damages for reduced property tax revenue and the costs of maintaining foreclosed properties.</a>
        <div class="publishedAt__79f8aaad">December 9, 2013</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2013-11-04/martha-stewart-s-ceo-may-hold-recipe-for-sale-real-m-a"
        class="thumbnailWrapper__e5d5adec"><img
        alt="relates to Martha Stewart’s CEO May Hold Recipe for Sale: Real M&amp;A"
        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iuK2EtXMg_xE/v1/340x260.jpg" class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2013-11-04/martha-stewart-s-ceo-may-hold-recipe-for-sale-real-m-a">Martha
            Stewart’s CEO May Hold Recipe for Sale: Real M&amp;A</a>
        <div class="authors__70a84826">By Brooke Sutherland</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2013-11-04/martha-stewart-s-ceo-may-hold-recipe-for-sale-real-m-a">Martha
            Stewart Living Omnimedia Inc.’s new chief executive officer Daniel Dienst has a track record of dealmaking,
            stoking speculation he may follow the same recipe with the magazines and home-decor company.</a>
        <div class="publishedAt__79f8aaad">November 3, 2013</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2013-10-11/airbus-to-dassault-see-plane-sales-stall-in-u-s-shutdown"
        class="thumbnailWrapper__e5d5adec"><img
        alt="relates to Airbus to Dassault See Plane Sales Stall in U.S. Shutdown"
        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ihgIfmEgx94k/v1/340x260.jpg" class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2013-10-11/airbus-to-dassault-see-plane-sales-stall-in-u-s-shutdown">Airbus
            to Dassault See Plane Sales Stall in U.S. Shutdown</a>
        <div class="authors__70a84826">By Thomas Black, Julie Johnsson, and Alan Levin</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2013-10-11/airbus-to-dassault-see-plane-sales-stall-in-u-s-shutdown">Eni
            SPA, Italy’s biggest energy company, has a group of 10 Houston business people waiting to buy its Dassault
            Aviation SA Falcon 2000 jet. What it doesn’t have is the U.S. paperwork needed to sell the plane.</a>
        <div class="publishedAt__79f8aaad">October 11, 2013</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2013-10-11/j-c-penney-revival-hinges-on-avoiding-holiday-price-war"
        class="thumbnailWrapper__e5d5adec"><img
        alt="relates to J.C. Penney Revival Hinges on Avoiding Holiday Price War"
        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ib3HTILCNj9A/v5/340x260.jpg" class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2013-10-11/j-c-penney-revival-hinges-on-avoiding-holiday-price-war">J.C.
            Penney Revival Hinges on Avoiding Holiday Price War</a>
        <div class="authors__70a84826">By Matthew Townsend</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2013-10-11/j-c-penney-revival-hinges-on-avoiding-holiday-price-war">Now
            that J.C. Penney Co. Chief Executive Officer Mike Ullman has slowed the sales decline and amassed enough
            cash to fund two years of operations, he faces his biggest challenge since returning as CEO: a holiday
            season marked by price wars and penny-pinching consumers.</a>
        <div class="publishedAt__79f8aaad">October 11, 2013</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2013-09-27/beyond-wal-mart-retailers-are-still-ahead-of-the-pack"
        class="thumbnailWrapper__e5d5adec"><img alt="relates to Beyond Wal-Mart, Retailers Are Still Ahead of the Pack"
                                                src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/i3E9ll4ayOIY/v1/340x260.jpg"
                                                class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2013-09-27/beyond-wal-mart-retailers-are-still-ahead-of-the-pack">Beyond
            Wal-Mart, Retailers Are Still Ahead of the Pack</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2013-09-27/beyond-wal-mart-retailers-are-still-ahead-of-the-pack">Forget
            the headlines about Wal-Mart Stores Inc. cutting orders and J.C. Penny Co. needing more money -- retailers
            as a group have the strongest earnings growth of all the sectors that make up the S&amp;P 500:</a>
        <div class="publishedAt__79f8aaad">September 27, 2013</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2013-08-09/perry-capital-buys-7-3-j-c-penney-stake">Perry
            Capital Buys 7.3% J.C. Penney Stake</a>
        <div class="authors__70a84826">By Katherine Burton</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2013-08-09/perry-capital-buys-7-3-j-c-penney-stake">Perry
            Capital, the hedge-fund firm founded by Richard Perry, bought 7.3 percent of J.C. Penney Co. and asked the
            board to appoint a new chairman and chief executive officer, according to a letter sent to the company.</a>
        <div class="publishedAt__79f8aaad">August 9, 2013</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2013-04-30/ceo-pay-1-795-to-1-multiple-of-workers-skirts-law-as-sec-delays"
        class="thumbnailWrapper__e5d5adec"><img alt="relates to CEO Pay 1,795-to-1 Multiple of Wages Skirts U.S. Law"
                                                src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iB_8yvmhFefs/v1/340x260.jpg"
                                                class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">markets</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2013-04-30/ceo-pay-1-795-to-1-multiple-of-workers-skirts-law-as-sec-delays">CEO
            Pay 1,795-to-1 Multiple of Wages Skirts U.S. Law</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2013-04-30/ceo-pay-1-795-to-1-multiple-of-workers-skirts-law-as-sec-delays">Former
            fashion jewelry saleswoman Rebecca Gonzales and former Chief Executive Officer Ron Johnson have one thing in
            common: J.C. Penney Co. no longer employs either.</a>
        <div class="publishedAt__79f8aaad">April 30, 2013</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2013-04-10/lessons-from-j-dot-c-dot-penney-dont-mess-with-coupons"
        class="thumbnailWrapper__e5d5adec"><img alt="relates to Lessons From J.C. Penney: Don't Mess With Coupons"
                                                src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iWqNIYNw0Tqs/v1/340x260.jpg"
                                                class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2013-04-10/lessons-from-j-dot-c-dot-penney-dont-mess-with-coupons">Lessons
            From J.C. Penney: Don't Mess With Coupons</a>
        <div class="authors__70a84826">By Emma Rosenblum</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2013-04-10/lessons-from-j-dot-c-dot-penney-dont-mess-with-coupons">Mike
            Ullman’s direction for struggling J.C. Penney has yet to take shape, but at least one part of the new chief
            executive’s plan is clear: Coupons will be back. Customers hated ousted CEO Ron Johnson’s move to eliminate
            sales and coupons in favor of everyday low prices, and Johnson’s backpedaling came too late. “We worked
            really hard and tried many things to help the customer understand that she could shop anytime on her terms,”
            Johnson said during a fourth-quarter conference call. “But we lear</a>
        <div class="publishedAt__79f8aaad">April 10, 2013</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2013-04-10/macy-s-shows-j-c-penney-how-to-rebuild-after-johnson"
        class="thumbnailWrapper__e5d5adec"><img alt="relates to Macy’s Shows J.C. Penney How to Rebuild After Johnson"
                                                src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/i3ubS7bRyTlU/v1/340x260.jpg"
                                                class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">technology</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2013-04-10/macy-s-shows-j-c-penney-how-to-rebuild-after-johnson">Macy’s
            Shows J.C. Penney How to Rebuild After Johnson</a>
        <div class="authors__70a84826">By Matthew Townsend</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2013-04-10/macy-s-shows-j-c-penney-how-to-rebuild-after-johnson">At
            the heart of Ron Johnson’s plan to turn J.C. Penney Co. into a mini mall of boutiques was the notion that
            the department-store model needed reinvention.</a>
        <div class="publishedAt__79f8aaad">April 10, 2013</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2012-08-10/free-ipads-highlight-u-s-stores-back-to-school-frenzy"
        class="thumbnailWrapper__e5d5adec"><img alt="relates to Free IPads Highlight U.S. Stores’ Back-to-School Frenzy"
                                                src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iAofFx_jwJW8/v0/340x260.jpg"
                                                class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">technology</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2012-08-10/free-ipads-highlight-u-s-stores-back-to-school-frenzy">Free
            IPads Highlight U.S. Stores’ Back-to-School Frenzy</a>
        <div class="authors__70a84826">By Sapna Maheshwari</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2012-08-10/free-ipads-highlight-u-s-stores-back-to-school-frenzy">With
            Abercrombie &amp; Fitch Co. giving away 1,000 iPads and J.C. Penney Co. offering $10 million of free
            haircuts, U.S. retailers are pulling out the stops to make sure they get a share of what may be the best
            back-to-school shopping season in a decade.</a>
        <div class="publishedAt__79f8aaad">August 10, 2012</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2012-07-18/mary-lou-retton-legacy-leads-u-s-gymnasts-from-medals-to-riches"
        class="thumbnailWrapper__e5d5adec"><img alt="relates to Retton Legacy Leads U.S. Gymnasts From Medals to Riches"
                                                src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iL6qLRYWp09M/v0/340x260.jpg"
                                                class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2012-07-18/mary-lou-retton-legacy-leads-u-s-gymnasts-from-medals-to-riches">Retton
            Legacy Leads U.S. Gymnasts From Medals to Riches</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2012-07-18/mary-lou-retton-legacy-leads-u-s-gymnasts-from-medals-to-riches">Gabrielle
            Douglas had won the U.S. gymnastics trials 12 hours earlier and was getting her first taste of the riches
            and responsibilities that come with one of the most public of Olympic berths.</a>
        <div class="publishedAt__79f8aaad">July 18, 2012</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2012-06-12/ackman-sells-fortune-brands-kraft-family-dollar-stakes">Ackman
            Sells Fortune Brands, Kraft, Family Dollar Stakes</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2012-06-12/ackman-sells-fortune-brands-kraft-family-dollar-stakes">Bill
            Ackman, founder of $10.5 billion hedge fund Pershing Square Capital Management LP, said he sold his stakes
            in Fortune Brands Home &amp; Security Inc., Kraft Foods Inc. and Family Dollar Stores Inc.</a>
        <div class="publishedAt__79f8aaad">June 12, 2012</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/audio/2011-10-07/rochdale-s-abella-says-jc-penny-not-a-go-to-place-audio">Rochdale's
            Abella Says JC Penny Not a "Go to Place"(Audio)</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/audio/2011-10-07/rochdale-s-abella-says-jc-penny-not-a-go-to-place-audio">David
            Abella, portfolio manager with Rochdale Investment Management LLC, discusses why retail shoppers do not
            favor JC Penny Co. Abella talks with Bloomberg's Pimm Fox and Courtney Donohoe on "Taking Stock."</a>
        <div class="publishedAt__79f8aaad">October 7, 2011</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">technology</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2009-04-30/credit-markets-headed-for-best-month-in-year-on-earnings-boost">Credit
            Markets Headed for Best Month in Year on Earnings Boost</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2009-04-30/credit-markets-headed-for-best-month-in-year-on-earnings-boost">Credit
            markets in the U.S. and Europe headed for their biggest monthly rally in a year as better-than-expected
            corporate earnings triggered speculation the worst of the global debt crisis is over.</a>
        <div class="publishedAt__79f8aaad">April 30, 2009</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2008-11-14/stocks-tumble-on-grim-economic-databusinessweek-business-news-stock-market-and-financial-advice">Stocks
            Tumble on Grim Economic Data</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2008-11-14/stocks-tumble-on-grim-economic-databusinessweek-business-news-stock-market-and-financial-advice">October
            retail sales, weaker retailer outlooks and apparent lack of coordination in the government's handling of the
            financial crisis worries investors</a>
        <div class="publishedAt__79f8aaad">November 14, 2008</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2008-03-06/wal-mart-s-february-sales-rise-gap-anntaylor-fall">Wal-Mart's
            February Sales Rise; Gap, J.C. Penney Fall</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2008-03-06/wal-mart-s-february-sales-rise-gap-anntaylor-fall">Wal-Mart
            Stores Inc.'s February sales gained more than the discounter expected as lower prices on electronics and
            groceries lured cash-strapped consumers who spent less at Gap Inc., J.C. Penney Co. and Nordstrom Inc.</a>
        <div class="publishedAt__79f8aaad">March 6, 2008</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">markets</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2008-03-06/costco-bj-s-earnings-rise-as-consumer-spending-slows">Warehouse
            Clubs Post Profit Gains as Consumer Spending Slows</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2008-03-06/costco-bj-s-earnings-rise-as-consumer-spending-slows">Costco
            Wholesale Corp. and BJ's Wholesale Club Inc. said quarterly profit rose as penny-pinching consumers limited
            trips to other stores to save money on both basics and luxuries.</a>
        <div class="publishedAt__79f8aaad">March 5, 2008</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">technology</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2008-02-04/randgold-ryanair-holdings-sage-u-k-irish-stock-preview">Randgold,
            Ryanair Holdings, Sage: U.K., Irish Stock Preview</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2008-02-04/randgold-ryanair-holdings-sage-u-k-irish-stock-preview">The
            following is a list of companies whose shares may have unusual price changes in the U.K. and Irish markets.
            Stock symbols are in parentheses after company names, and prices are from the last close.</a>
        <div class="publishedAt__79f8aaad">February 4, 2008</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">technology</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2008-02-04/randgold-ryanair-holdings-sage-u-k-irish-stock-preview-i8fj1v88">Randgold,
            Ryanair Holdings, Sage: U.K., Irish Stock Preview</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2008-02-04/randgold-ryanair-holdings-sage-u-k-irish-stock-preview-i8fj1v88">The
            following is a list of companies whose shares may have unusual price changes in the U.K. and Irish markets.
            Stock symbols are in parentheses after company names, and prices are from the last close.</a>
        <div class="publishedAt__79f8aaad">February 3, 2008</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2007-12-04/opening-statement-of-senator-carl-levinbusinessweek-business-news-stock-market-and-financial-advice">Opening
            Statement of Senator Carl Levin</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2007-12-04/opening-statement-of-senator-carl-levinbusinessweek-business-news-stock-market-and-financial-advice">Chairman,
            U.S. Senate Permanent Subcommittee on Investigations Hearing: Credit Card Practices: Unfair Interest Rate
            Increases</a>
        <div class="publishedAt__79f8aaad">December 4, 2007</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">businessweek</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2006-11-26/secrets-lies-and-sweatshops">Secrets, Lies, And
            Sweatshops</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2006-11-26/secrets-lies-and-sweatshops">American importers have
            long answered criticism of conditions at their Chinese suppliers with labor rules and inspections. But many
            factories have just gotten better at concealing abuses</a>
        <div class="publishedAt__79f8aaad">November 27, 2006</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2006-11-22/customer-service-is-back-in-stylebusinessweek-business-news-stock-market-and-financial-advice">Customer
            Service Is Back in Style</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2006-11-22/customer-service-is-back-in-stylebusinessweek-business-news-stock-market-and-financial-advice">As
            retailers gear up for the holiday rush, many are discovering that shopper satisfaction equals higher
            sales</a>
        <div class="publishedAt__79f8aaad">November 22, 2006</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2006-08-02/wal-mart-posts-higher-july-salesbusinessweek-business-news-stock-market-and-financial-advice">Wal-Mart
            Posts Higher July Sales</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2006-08-02/wal-mart-posts-higher-july-salesbusinessweek-business-news-stock-market-and-financial-advice">Marsh
            &amp; McLennan, Prudential Financial, Starbucks, Gap and more post results; plus more stocks in the news
            Thursday</a>
        <div class="publishedAt__79f8aaad">August 3, 2006</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2006-05-31/sun-microsystems-to-slash-up-to-5-000-jobsbusinessweek-business-news-stock-market-and-financial-advice">Sun
            Microsystems to Slash Up to 5,000 Jobs</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2006-05-31/sun-microsystems-to-slash-up-to-5-000-jobsbusinessweek-business-news-stock-market-and-financial-advice">Vivendi
            settles tax dispute; retailers post May sales; plus more stocks in the news Thursday</a>
        <div class="publishedAt__79f8aaad">June 1, 2006</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397" href="https://www.bloomberg.com/news/articles/2005-11-10/stocks-finish-higher">Stocks
            Finish Higher</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2005-11-10/stocks-finish-higher">A continuing drop in oil
            prices kept the rally going</a>
        <div class="publishedAt__79f8aaad">November 11, 2005</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2005-05-16/s-and-p-keeps-buy-on-home-depot">S&amp;P Keeps Buy
            on Home Depot</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2005-05-16/s-and-p-keeps-buy-on-home-depot">Plus: analysts'
            opinions on Time Warner, J.C. Penney, and more</a>
        <div class="publishedAt__79f8aaad">May 17, 2005</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397" href="https://www.bloomberg.com/news/articles/2005-04-25/contrarian-with-a-cause">Contrarian
            with a Cause</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2005-04-25/contrarian-with-a-cause">Robert Olstein of Olstein
            Financial Alert Fund follows a value-stock strategy, backed by very strict disciplines for buying and
            selling</a>
        <div class="publishedAt__79f8aaad">April 26, 2005</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2005-02-03/s-and-p-keeps-buy-on-time-warner">S&amp;P Keeps Buy
            on Time Warner</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2005-02-03/s-and-p-keeps-buy-on-time-warner">Plus analysts'
            opinions on DaimlerChrysler, Ask Jeeves, J.C. Penney, and more</a>
        <div class="publishedAt__79f8aaad">February 4, 2005</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">businessweek</div>
        <a class="headline__55bd5397" href="https://www.bloomberg.com/news/articles/2004-12-05/the-china-price">"The
            China Price"</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2004-12-05/the-china-price">They are the three scariest words
            in U.S. industry. Cut your price at least 30% or lose your customers. Nearly every manufacturer is
            vulnerable -- from furniture to networking gear. The result: A massive shift in economic power is under
            way</a>
        <div class="publishedAt__79f8aaad">December 6, 2004</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397" href="https://www.bloomberg.com/news/articles/2004-08-16/stocks-finish-higher">Stocks
            Finish Higher</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2004-08-16/stocks-finish-higher">Positive inflation data and
            solid earnings news buoyed major indexes, despite a new record for oil prices</a>
        <div class="publishedAt__79f8aaad">August 17, 2004</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2004-06-21/a-marketers-dream-your-cell-phone">A Marketer's
            Dream: Your Cell Phone</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2004-06-21/a-marketers-dream-your-cell-phone">The world's 1.3
            billion handsets offer marketers a potential direct link to consumers, and they're starting to exploit
            it</a>
        <div class="publishedAt__79f8aaad">June 22, 2004</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/2004-01-11/this-holiday-season-shoppers-blinked"
        class="thumbnailWrapper__e5d5adec"><img alt="relates to This Holiday Season, Shoppers Blinked"
                                                src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iP42oJyUWuIQ/v1/340x260.gif"
                                                class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">businessweek</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2004-01-11/this-holiday-season-shoppers-blinked">This Holiday
            Season, Shoppers Blinked</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2004-01-11/this-holiday-season-shoppers-blinked">Unlike last
            year, retailers held prices firm. It looks as though their strategy paid off</a>
        <div class="publishedAt__79f8aaad">January 12, 2004</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397" href="https://www.bloomberg.com/news/articles/2003-10-21/pinched-at-penneys">Pinched
            at Penney's</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2003-10-21/pinched-at-penneys">While investors applaud the
            retailer for taking a serious look at ditching its Eckerd drugstores, the problems go well past that</a>
        <div class="publishedAt__79f8aaad">October 22, 2003</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2003-08-11/applied-materials-beats-the-street">Applied
            Materials Beats the Street</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2003-08-11/applied-materials-beats-the-street">Emerson Radio
            plunges; Marvel raises earnings outlook; plus more of today's stocks in the news</a>
        <div class="publishedAt__79f8aaad">August 12, 2003</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2003-08-11/stocks-finish-higher-as-the-fed-stands-pat">Stocks
            Finish Higher as the Fed Stands Pat</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2003-08-11/stocks-finish-higher-as-the-fed-stands-pat">The
            major indexes gained ground in late trading after Alan Greenspan &amp; Co. left interest rates unchanged</a>
        <div class="publishedAt__79f8aaad">August 12, 2003</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2003-05-12/cablevision-drops-after-earnings-report">Cablevision
            Drops After Earnings Report</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2003-05-12/cablevision-drops-after-earnings-report">Scientific-Atlanta
            climbs; Weight Watchers declines; plus more of today's stocks in the news</a>
        <div class="publishedAt__79f8aaad">May 13, 2003</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2002-11-14/a-department-store-shopping-list">A Department Store
            Shopping List</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2002-11-14/a-department-store-shopping-list">The major chains'
            latest results are mixed, and the holiday outlook remains uncertain. The best buy: J.C. Penney</a>
        <div class="publishedAt__79f8aaad">November 15, 2002</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2002-11-11/trc-tumbles-after-missing-estimates">TRC Tumbles
            After Missing Estimates</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2002-11-11/trc-tumbles-after-missing-estimates">Philip Morris
            backs away from targets; more trouble ahead for H&amp;R Block?; plus more of today's stocks in the news</a>
        <div class="publishedAt__79f8aaad">November 12, 2002</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2002-11-06/ciscos-downbeat-outlook-sinks-stocks">Cisco's
            Downbeat Outlook Sinks Stocks</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2002-11-06/ciscos-downbeat-outlook-sinks-stocks">Investors
            Friday will get a break from economic data, but Qualcomm will provide another read on the technology
            sector</a>
        <div class="publishedAt__79f8aaad">November 7, 2002</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397" href="https://www.bloomberg.com/news/articles/2002-10-27/stocks-finish-lower">Stocks
            Finish Lower</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2002-10-27/stocks-finish-lower">The major averages retreated as
            investors consolidated three weeks worth of gains as more earnings news flowed in</a>
        <div class="publishedAt__79f8aaad">October 28, 2002</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2002-09-29/stocks-end-third-quarter-in-the-red">Stocks End
            Third Quarter in the Red</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2002-09-29/stocks-end-third-quarter-in-the-red">Worries about
            earnings and economic growth continue to haunt the market. On Tuesday, the ISM-manufacturing index and auto
            sales will be the highlights</a>
        <div class="publishedAt__79f8aaad">September 30, 2002</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2001-04-11/j-dot-c-dot-penny-earnings-forecast-slashed">J.C.
            Penny Earnings Forecast Slashed</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2001-04-11/j-dot-c-dot-penny-earnings-forecast-slashed">S&amp;P
            sees later than expected turnaround at retailing giant</a>
        <div class="publishedAt__79f8aaad">April 12, 2001</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2001-03-19/a-downturn-in-ceo-pay-too">A Downturn in CEO Pay,
            Too?</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2001-03-19/a-downturn-in-ceo-pay-too">Early results for 2000
            show the slumping market is slowing the growth of top bosses' take-home, which might even decline</a>
        <div class="publishedAt__79f8aaad">March 20, 2001</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2001-03-08/the-day-trader-in-winter">The Day Trader in
            Winter</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2001-03-08/the-day-trader-in-winter">From snowy Buffalo, N.Y.,
            George Henel explains why he's sitting out the current market chill: The strong dollar</a>
        <div class="publishedAt__79f8aaad">March 9, 2001</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2001-02-21/radioshack-comes-up-short">RadioShack Comes Up
            Short</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2001-02-21/radioshack-comes-up-short">RadioShack (RSH</a>
        <div class="publishedAt__79f8aaad">February 22, 2001</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/2000-06-11/icahn-the-once-and-future-dealmaker">Icahn: The Once
            And Future Dealmaker</a>
        <div class="authors__70a84826">By Diane Brady</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/2000-06-11/icahn-the-once-and-future-dealmaker">The emblem for
            '80s-style takeovers is dealing again. This time he's after old-line giants with lagging stocks</a>
        <div class="publishedAt__79f8aaad">June 12, 2000</div>
    </div>
</div>
<div class="storyItem__192ee8af"><a
        href="https://www.bloomberg.com/news/articles/1999-10-24/asias-biz-to-biz-e-boom-intl-edition"
        class="thumbnailWrapper__e5d5adec"><img alt="relates to Asia's Biz To Biz E Boom"
                                                src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ig.AHH_4nQls/v1/340x260.gif"
                                                class="thumbnail__d323b3c5"></a>
    <div class="text__1793994f withThumbnail__deb7b221">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/1999-10-24/asias-biz-to-biz-e-boom-intl-edition">Asia's Biz To
            Biz E Boom</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/1999-10-24/asias-biz-to-biz-e-boom-intl-edition">Asian
            companies are flocking to the Net--and selling to one another</a>
        <div class="publishedAt__79f8aaad">October 25, 1999</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/1998-03-22/one-more-face-lift-for-j-dot-c-dot-penney">One More
            Face Lift For J.C. Penney</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/1998-03-22/one-more-face-lift-for-j-dot-c-dot-penney">It's
            cutting costs and getting fashion into stores faster</a>
        <div class="publishedAt__79f8aaad">March 23, 1998</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/1997-10-21/speculation-in-small-companies-ominous-update1-taking-stock">Speculation
            in Small Companies Ominous (Update1): Taking Stock</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/1997-10-21/speculation-in-small-companies-ominous-update1-taking-stock">United
            Energy Corp. more than doubled so far this month.</a>
        <div class="publishedAt__79f8aaad">October 21, 1997</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397" href="https://www.bloomberg.com/news/articles/1997-08-10/auto-racing-speed-sells">Auto
            Racing: Speed Sells</a>
        <div class="authors__70a84826">By Lee Walczak</div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/1997-08-10/auto-racing-speed-sells">It's suddenly sizzling--as
            a sport and a business</a>
        <div class="publishedAt__79f8aaad">August 11, 1997</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/1994-11-20/mom-and-pop-go-high-tech">Mom And Pop Go High
            Tech</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/1994-11-20/mom-and-pop-go-high-tech">Michael Allawos'
            tool-and-die shop isn't very big. Housed in a tiny building in an industrial park in San Dimas, Calif., it
            makes metal parts for Northrop Grumman and Bristol-Myers Squibb Co. But it has big plans--and big-company
            technology on its side. On sales calls, Allawos whips out a laptop computer to confirm the status of a
            customer's order--and verify that all the materials for the job are on hand. Orders for new parts are
            dropped electronically into his job-tracking system, and a financ</a>
        <div class="publishedAt__79f8aaad">November 21, 1994</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/1993-07-25/retailing-will-never-be-the-same">Retailing Will
            Never Be The Same</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/1993-07-25/retailing-will-never-be-the-same">Cathy Burke, a
            55-year-old secretary in Kearny, N.J., is one satisfied customer. A few days ago, the mailman delivered a
            $50 pink pants suit and a $40 Kenneth Jay Lane faux gold-and-seed-pearl necklace that she purchased from
            home shopping channel QVC. She loves them. Burke has bought about 200 items from the network over the past
            five years. She shops for herself, her children, and her grandchildren, and keeps a "wish list" of QVC items
            so her family knows just what to buy her on holidays.</a>
        <div class="publishedAt__79f8aaad">July 26, 1993</div>
    </div>
</div>
<div class="storyItem__192ee8af">
    <div class="text__1793994f ">
        <div class="eyebrow__4b7f0542">business</div>
        <a class="headline__55bd5397"
           href="https://www.bloomberg.com/news/articles/1992-07-05/too-many-rooms-at-the-inn-for-ritz-carlton">Too Many
            Rooms At The Inn For Ritz Carlton</a>
        <div class="noAuthors__534125ef"></div>
        <a tabindex="-1" class="summary__bbda15b4"
           href="https://www.bloomberg.com/news/articles/1992-07-05/too-many-rooms-at-the-inn-for-ritz-carlton">The
            Mauna Lani Ritz-Carlton Hotel is a gleaming gem on Hawaii's Kohala Coast. With its exotic koa wood paneling,
            marble floors, and crystal chandeliers, the 542-room hotel is designed to give the illusion of a stately
            seaside mansion. However, construction cost overruns of approximately $13 million and disappointing
            occupancy rates have made it more like a house of horrors. "They overpaid big-time," says a former top
            executive of the hotel's parent company, Ritz-Carlton Hotel Co.</a>
        <div class="publishedAt__79f8aaad">July 6, 1992</div>
    </div>
</div>
<div class="placeholderResults__8f183c61">
    <div class="placeholderItem__09f5c49c">
        <div class="mockHeader__7125a7e1">
            <div style="width:80%"></div>
            <div style="width:65%"></div>
        </div>
        <div class="mockBody__ef58e5d0">
            <div style="width:90%"></div>
            <div style="width:95%"></div>
            <div style="width:93%"></div>
        </div>
    </div>
    <div class="placeholderItem__09f5c49c">
        <div class="mockHeader__7125a7e1">
            <div style="width:80%"></div>
            <div style="width:65%"></div>
        </div>
        <div class="mockBody__ef58e5d0">
            <div style="width:90%"></div>
            <div style="width:95%"></div>
            <div style="width:93%"></div>
        </div>
    </div>
    <div class="placeholderItem__09f5c49c">
        <div class="mockHeader__7125a7e1">
            <div style="width:80%"></div>
            <div style="width:65%"></div>
        </div>
        <div class="mockBody__ef58e5d0">
            <div style="width:90%"></div>
            <div style="width:95%"></div>
            <div style="width:93%"></div>
        </div>
    </div>
    <div class="placeholderItem__09f5c49c">
        <div class="mockHeader__7125a7e1">
            <div style="width:80%"></div>
            <div style="width:65%"></div>
        </div>
        <div class="mockBody__ef58e5d0">
            <div style="width:90%"></div>
            <div style="width:95%"></div>
            <div style="width:93%"></div>
        </div>
    </div>
    <div class="placeholderItem__09f5c49c">
        <div class="mockHeader__7125a7e1">
            <div style="width:80%"></div>
            <div style="width:65%"></div>
        </div>
        <div class="mockBody__ef58e5d0">
            <div style="width:90%"></div>
            <div style="width:95%"></div>
            <div style="width:93%"></div>
        </div>
    </div>
    <div class="placeholderItem__09f5c49c">
        <div class="mockHeader__7125a7e1">
            <div style="width:80%"></div>
            <div style="width:65%"></div>
        </div>
        <div class="mockBody__ef58e5d0">
            <div style="width:90%"></div>
            <div style="width:95%"></div>
            <div style="width:93%"></div>
        </div>
    </div>
    <div class="placeholderItem__09f5c49c">
        <div class="mockHeader__7125a7e1">
            <div style="width:80%"></div>
            <div style="width:65%"></div>
        </div>
        <div class="mockBody__ef58e5d0">
            <div style="width:90%"></div>
            <div style="width:95%"></div>
            <div style="width:93%"></div>
        </div>
    </div>
    <div class="placeholderItem__09f5c49c">
        <div class="mockHeader__7125a7e1">
            <div style="width:80%"></div>
            <div style="width:65%"></div>
        </div>
        <div class="mockBody__ef58e5d0">
            <div style="width:90%"></div>
            <div style="width:95%"></div>
            <div style="width:93%"></div>
        </div>
    </div>
    <div class="placeholderItem__09f5c49c">
        <div class="mockHeader__7125a7e1">
            <div style="width:80%"></div>
            <div style="width:65%"></div>
        </div>
        <div class="mockBody__ef58e5d0">
            <div style="width:90%"></div>
            <div style="width:95%"></div>
            <div style="width:93%"></div>
        </div>
    </div>
    <div class="placeholderItem__09f5c49c">
        <div class="mockHeader__7125a7e1">
            <div style="width:80%"></div>
            <div style="width:65%"></div>
        </div>
        <div class="mockBody__ef58e5d0">
            <div style="width:90%"></div>
            <div style="width:95%"></div>
            <div style="width:93%"></div>
        </div>
    </div>
</div>